/* grid styles */
div[class="row-"]{
    clear: both;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}
div[class^="col-"]{
    float: left;
}
div.col-1-3a {width: 33%}
div.col-1-3b {width: 33%}
div.col-1-3c {width: 33%}
div.col-2-3 {width: 66%}

p{
    font-size: 25px;
}

div{
    text-align: center;
}