.crumb {
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: fixed;
    left: 10px;
    top: 15px;
}

html{
    background-color: rgb(42, 117, 172);
    color: white;
}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
}

.aNav > ul > li > a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 181, 172);
}

