.crumb {
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: fixed;
    left: 10px;
    top: 15px;
    font-family: 'Times New Roman';
}

.crumbB {
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: fixed;
    left: 10px;
    top: 15px;
    font-family: 'Times New Roman'
}

.myHTML{
    background-color: rgb(42, 117, 172);
    color: white;
}

.myH1{
    text-align: center;
}

.myUl{
    list-style-type: none;
}

.aNav > ul > li > a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 181, 172);
}

