html{
    font-family: 'Ariel', Courier, monospace;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(42, 117, 172);   
}

.dark-mode{
    background-color: rgb(23, 78, 117);
    color: white;
}

div[id^="day-"]{
    border: 1px solid gray;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    margin-top: 1.6em;
    margin-left: 1.6em;
}

h2{
    font-size: 20px;
}